
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');
*,*::after,*::before{
  box-sizing: border-box;
  
}

.container{
  max-width: 1000px;
  margin:  0 auto;
  padding:10px;
 
}

body {
  margin: 0;
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* navigation */
.main-header>a{
  display: flex;
  flex-direction: column;
  
  
}

.main-header{
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.main-header > a{
  text-decoration: none;
  
}

.brand-name{

  position: relative;
  top: -7px;
  font-size: 1.2rem;
  font-weight: 800;

}

.main-nav ul{
  display: flex;  
  justify-content: right; 
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav a{
  margin: 20px;
  text-decoration: none;
  font-size: .9rem;
}

.main-nav a:hover{
  cursor: pointer;
  color: rgb(150, 98, 34);
}
